body {
  font-family: "Avenir Next";
}

header{
  padding-top:20px;
  text-align:center;
}

h1{
  background-color:aqua;
  text-align: center;
}

ul{
  list-style: none;
}

.main{
  padding-top: 10px;
  text-align: center;
}

.site{
  padding-top:10px;
  height:430px;
}

.contents{
  width:1040px;
  /* height:2px; */
  margin:0 auto;
  /* background-color: aquamarine; */
}

.contents-item{
  float:left;
  padding-right:10px;
  padding-left:10px;
}

p{
  text-align: center;
  margin-bottom:0px;
}

.move{
  padding-top: 10px;
text-align: center;
}

.book{
  padding-top: 10px;
text-align: center;
}

.form{
  padding-top: 10px;
}

.form-line{
  text-align: center;
}

.form-type{
  width:400px;
  height:20px;
}

.link-name{
  text-align: center;
}
